
body {
	background-color: #111111;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	flex: 1;
}

label {
	color: white;
}

#inputs {
	margin: 20px;
}

#frame {
	background-color: white;
	margin: 20px;
	display: inline-block;
}

#qrcode {
	padding: 40px;
}

